.container {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid;
  margin: 0 auto;
  /* z-index: -1; */
}
.line {
  border-left: 2px solid #000;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -4px;
  z-index: 100;
}
